target/
!.mvn/wrapper/maven-wrapper.jar
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.vscode/
*.log
*.class
.DS_Store
.env
*.jar
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties
